/* @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
font-family: 'Questrial', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&display=swap');
.App {
  text-align: center;
  margin: 8%;
  /*background-image: url('tech.jpg');*/
  

}
.cc{
 text-align: center;
}

.font{
  font-family:'Poppins', sans-serif;
}
#f18{
  font-size: 18px;
}
.a{
  margin: 7% 25% 1% 25% ;
  text-align: center;

}
.aa{
  margin: 7% 25% 1% 25% ;
  text-align: right;

}
.b{
  font-size: 43px;
  
}

.bl{
  color:#ffffff;
  font-size: 20px;
  font-family:'Poppins', sans-serif;
  
  
}
.bl2{
  color:#666463;
  font-size: 20px;
  font-family:'Poppins', sans-serif;
  
}
.o{
  color:#ffffff;
  font-size: 26px;
  font-family:'Poppins', sans-serif;
  
}
.o2{
  color:#666463;
  font-size: 26px;
  font-family:'Poppins', sans-serif;
  
}
.l{
  text-align: left;

}
.le{
  margin: 2% 9% 9% 10% ;
  font-size: 45px;

}
.r{
  margin: 10% 25% 20% 10% ;

}
.modify{
  width: 20px;
  height: 20px;
  margin: 10px 10px;
  display: inline-block;
}
.mobtn{
  text-align: center;
  background-color: #eea13c;
  color: #FCFAF1;
  border: none;
  font-size: 14px;
  width: 50px;
  height: 30px;
  margin: 2px 2px;
  border-radius: 5px;
}
.actestbtn{
  text-align: center;
  background-color: #eea13c;
  color: #FCFAF1;
  border: none;
  font-size: 16px;
  width: 60px;
  height: 40px;
  margin: 2px 2px;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color : #1B1617;
  font-family: "Jost";
}

.App-link {
  color: #61dafb;
}

.color-nav {
  color: #A9A9A9;
}
#mainbox{
  display: flex;
  /* width: 1150px; */
  /* margin:10px 0 0 200px; */
  flex-wrap: wrap;
  text-align: center;
  /* color: black;""sans-serif pangolin Comic Sans MS Papyrus cursive Courier New   */
}

.main{
  border-width: 5px;
  border-color:black;
}

.sty{
  height:1300px; 
  width:2000px;
}

.article1{
  
  width: 1100px;
  margin: 10 auto;
  height: 300px;
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: "Jost";
  /*line-height: 28px; */ 
}

.article{
  width: 900px;
  margin: 10 auto;
  height: 600px;
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  /*line-height: 28px; */ 
}

.w{
  color: black;
}

.big{
  font-size: 25px;
  color: #635B5A;
  font-weight: bold;
  font-family: "Jost";
}

.color{
  color: #FFBB00;
}

.textstyle{
  
  font-size :20px ;
  font-family: "Jost";
  color: #1B1617;
  /*font: "Trebuchet MS";font-family: "OCR A Std, monospace" ;*/
  
}



.out{
  text-indent: -30em;
}

.in{
  text-indent : 4em ;
}

.bimg{
  background-image: url('backup.jpg');
  margin: 0% 0% 50% 0% ;
  width: 100%;
  height: 120%;
  text-align: right;
}

.wimg{
  background-image: url('grandpa.png');
  margin: 50% 50% 50% 10% ;
  width: 80%;
  height: 100%;
  
}

.welcome{
  background-color: #dd7538;
 /* width: 1519px;
  /*height: 700px;*/
  width: 100%;
  height: 70%;
  font-size :58px ;
  /*font-family: 'Questrial', sans-serif;*/
  font-family:'Poppins', sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.welcome2{
  background-color: #faf0e6;
 /* width: 1519px;
  /*height: 700px;*/
  width: 100%;
  height: 70%;
  font-size :58px ;
  /*font-family: 'Questrial', sans-serif;*/
  font-family:'Poppins', sans-serif;
  color: #666463;
  display: flex;
  align-items: right;
}

.about{
  background-color: #faf0e6;
  width: 100%;
  height: 80%;
  font-size :25px ;
  font-family:'Poppins', sans-serif;
  color: #666463;
  display: flex;
  
  
  
}

.section1{
  background-color: 	#faf0e6;
  /*background-image: url('crypto.jpg');text-shadow: 2px 1px 2px #575353;*/
  color: black;
  
}

.section2{
  background-color: 	#eb7531;
  /*background-image: url('crypto.png');text-shadow: 1px 0.5px 1px #373030;*/
  
}

.section3{
  background-color: 	#eb7531;
  /*background-image: url('crypto.png');text-shadow: 1px 0.5px 1px #373030;*/
  
}

#leftenter{
  width:45%;
  height: 200px;
  margin: 0 5% 0 0;/*上右下左*/
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  font-size :20px ;
  font-family: "Jost";
  color: #89817E;
  
}


#left{
  width:40%;
  height: 250px;
  padding:45px;
  margin: 5% 1% 0 9%;/*上右下左*/
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  
  font-size: 1rem;
  border: 1px solid #FFB326;
} 

#rightenter{
  width: 45%;
  height: 200px;
  /*padding:10px;
  margin: 0 0 0 0;*/
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  font-size :20px ;
  font-family: "Jost";
  color: #89817E;
   
}



#right{
  width: 40%;
  height: 250px;
  padding:45px;
  margin: 5% 9% 5% 1%;
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  
  font-size: 1rem;
  border: 1px solid #FFB326;  
}

.button {
            background-color: #FFB326;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center {
  margin: auto;
  /* width: 100%;
  height: 100%; */
  /* border: 3px solid green;
  padding: 10px; */
}
.prev {
  text-align: center;
  background-color: #8c8f8dc0;
  color: #FCFAF1;
  border: none;
  font-size: 16px;
  width: 80px;
  height: 40px;
  margin: 20px 30px;
  border-radius: 5px;
}
.prev:hover{
  background-color: #8c8f8d;
}
.arrow{
  color: #8C8F8D;
  size:3x;
}
.arrow:hover{
  color:#747575;
}
.dwlabel{
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
}
.dw{
  background-color: #eea13c;
  color: #FCFAF1;
  text-align: center;
  border: none;
  font-size: 18px;
  width: 120px;
  height: 50px;
  margin: 4px 4px;
  border-radius: 5px;
  opacity: 1;
}
.dw:hover {background-color: #d6953f}
.dwinput{
  width: 50%;
  /* box-sizing: border-box; */
  border: none;
  box-shadow: 0px 0px 5px #888888;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 20px;
}
.modifyinput{
  width: 50px;
  height: 30px;
  /* box-sizing: border-box; */
  border: none;
  box-shadow: 0px 0px 5px #888888;
  padding: 4px 8px;
  margin: 4px 2px;
  border-radius: 5px;
  font-size: 12px;
}
.newbeneinput{
  width: 250px;
  height: 30px;
  /* box-sizing: border-box; */
  border: none;
  box-shadow: 0px 0px 5px #888888;
  padding: 4px 8px;
  margin: 4px 2px;
  border-radius: 5px;
  font-size: 16px;
}
.newbenerateinput{
  width: 80px;
  height: 30px;
  /* box-sizing: border-box; */
  border: none;
  box-shadow: 0px 0px 5px #888888;
  padding: 4px 8px;
  margin: 4px 2px;
  border-radius: 5px;
  font-size: 16px;
}
.bubtn{
  background-color: #eea13c;
  color: #FCFAF1;
  text-align: center;
  border: none;
  font-size: 18px;
  width: 100px;
  height: 50px;
  margin: 4px 4px;
  border-radius: 5px;
  opacity: 1;
}
.bubtn:hover {background-color: #d6953f}
.acbulabel{
  padding: 16px 28px;
  text-align: left;
  font-size: 20px;
  margin: 4px 0;
  font-size: 16px;
  width: 12%;
  padding: 10px;
}
.acbuinput{
  width: 40%;
  border: none;
  box-shadow: 0px 0px 5px #888888;
  padding: 10px 18px;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 16px;
}
.mainpagebutton { /* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_fade */
  background-color: rgb(101, 110, 119);
  border: none;
  color: white;
  width: 180px;
  height: 80px;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  /* box-shadow: 0 7px #999; */
  
}

.mainpagebutton:hover {opacity: 1}
.mainpagebutton:active { /* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */
  background-color: rgb(101, 110, 119);
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

#outer /* http://jsfiddle.net/6uL5e/ */{
  width:100%;
  text-align: center;
}
#outerdown{
  width:100%;
  text-align: center;
  margin-top:10px;
}
.inner
{
    display: inline-block;
}

.column {
  float: left;
  padding: 10px;
  /* Should be removed. Only for demonstration */
}

.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* @media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
} */

