/* change the background color */
.navbar {
    background:#faf0e6;
    /*background-color: #B8B8FF;ffd91d color : white;rgba(0,0,0,0)*/
    position: fixed;
    right: 0;
    left: 0;
    top: 0; 
    color : black;
    font-size: 15px;
    border-bottom-color: black;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

.footer {
    background:#faf0e6;
    border-top-color: black;
    border-top-width: 0.5px;
    border-top-style: solid;
    /*background-color:#8C8F8D ;
     opacity:0.3; */
}

.footer-copyright {
    color: black; 
}

.dropdown{
     
    cursor: pointer;
    white-space: nowrap;
}

.text{
    margin: 1em 1em;
    text-align: center;
    color : black;
}

.w{
    color : black;

}
.icon{
    vertical-align: -0.125em;
    size:2x;
}
